html {
    width: 100%;
    height: 100%;
    font-size: 1.1em;
}

body {
    background-color: #fac117;
    background-image: url(../img/icon.png);

    background-repeat: no-repeat;
    background-position: center;
    background-size: 30% auto;
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
}

.clearfix::after {
    content: '.';
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}

.row {
    width: 100%;
    display: block;
    clearfix: after;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.search.grid {
    position: relative;
    padding: 0.5em 0;
    width: 100%;
    max-width: none;
    color: #777;
}

.search .search-field {
    font-size: 1.15em;
    padding: 0.5rem 1rem 0.5rem 2.5rem;
    border: 1px solid #999;
    margin-left: 0.5rem;
    width: calc(100% - 6.1em);
}

.search i:not(.magnify) {
    font-size: 1.4em;
    text-align: center;
    background-color: #fff;
    border: 1px solid #999;
    width: 2.5rem;
    padding: 0.5rem 0;
    float: right;
    margin-right: 0.5rem;
    cursor: pointer;
}

.search .magnify {
    position: absolute;
    left: 0;
    top: 0.5rem;
    width: 1em;
    font-size: 1.25em;
    color: #777;
    padding: 0.5em 0 0 1em;
}

#content {
    color: #777;
}

.tab-navigation {
    background-color: #fafafa;
    border-top: 1px solid #ddd;
    bottom: 0;
    height: 3rem;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
}

.tab-navigation li {
    color: #aaa;
    font-size: 1.5rem;
    height: 100%;
    margin: 0;
    padding: 0.75rem 0;
    position: relative;
    text-align: center;
}

.tab-navigation li.active {
    color: #ebbb23;
}

.tab-navigation li.list {
    background-image: url(../img/icon-gray.png);
    background-position: center 0.125rem;
    background-repeat: no-repeat;
    background-size: auto 1.5rem;
    border: 0 solid #ddd;
    border-left-width: 1px;
    border-right-width: 1px;
    height: calc(100% - 1rem);
    margin: 0.5rem 0;
}

.tab-navigation li.list.active {
    background-image: url(../img/icon.png);
}

p + p {
    margin-top: 1em;
}

.cmp-beergarden-list {
    list-style-type: none;
    font-size: 0.9em;
    line-height: 1.25em;
    background-color: #fff;
    color: #777;
    margin: 0;
    padding: 0;
}

.cmp-beergarden-list li {
    margin: 0;
    position: relative;
    padding: 0 0.56rem;
    clearfix: after;
    clear: both;
    border-top: 1px solid #999;
    list-style-type: none;
    list-style-position: inside;
    width: 100%;
    cursor: pointer;
}

.cmp-beergarden-list li:last-child {
    border-bottom: 1px solid #999;
}

.cmp-beergarden-list p {
    background-color: #fff;
    min-width: 100%;
    margin: 0;
}

.cmp-beergarden-list p + p {
    padding-top: 0.25em;
}

.cmp-beergarden-list .data {
    display: block;
    width: calc(100% - 0.65rem);
}

.cmp-beergarden-list .data > span {
    padding: 0.56rem 0.6rem 0.56rem 0;
}

.cmp-beergarden-list .title{
    padding: 0.56rem 0;
}

.cmp-beergarden-list .more {
    text-align: right;
    position: relative;
    top: 0.66rem;
}

header {
    background-color: #fac117;
    border-bottom: 1px solid #777;
    color: #777;
    height: 3.5rem;
    left: 0;
    padding: 0.875rem 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2000;
}

header .title h1 {
    font-size: 1.25rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}

header .button {
    text-align: center;
}

header i.fa {
    color: #777;
}

.center {
    text-align: center;
}

#details {
    padding: 3.5rem 0 3rem;
}

#details .images {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    height: 9em;
    position: relative;
    width: 100%;
}

#details .images::before {
    background-image: url(../img/icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 70%;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

#details .info {
    background-color: #fff;
    border-bottom: 1px solid #777;
    padding: 0.75em 1em;
}

#details .info .category-icon i.fa {
    color: #bbb;
}

#details .info p {
    margin: 0;
}

#details .info p + p {
    margin-top: 0.5em;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

.cmp-loading-overlay {
    text-align: center;
    padding-top: 10em;
}

.cmp-loading-overlay i {
    font-size: 5em;
    margin: auto;
    display: inline-block;
    color: #fff;
}

.cmp-loading-overlay span span {
    margin-top: 1em;
    font-size: 1.5em;
    color: #fff;
    display: block;
}

.cmp-filter {
    width: 100%;
    margin: 1em;
    height: 100%;
    background: #fff;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.cmp-loading-overlay i {
    animation: spin 3s linear infinite;
}