html {
    width: 100%;
    height: 100%;
    font-size: 1.1em;
}

body {
    background-color: #fbd118;
    background-image: linear-gradient(top, #FBCB23 0%, #fbd118 51%);
    background-image: -moz-linear-gradient(top, #FBCB23 0%, #fbd118 51%);
    background-image: -webkit-linear-gradient(top, #FBCB23 0%, #fbd118 51%);
    background-image: -ms-linear-gradient(top, #FBCB23 0%, #fbd118 51%);
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #FBCB23),
            color-stop(0.51, #fbd118)
    );
    background-attachment: fixed;

    background-repeat: no-repeat;
    background-position: center 20%;
    /*background-size: 60%;*/
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
}

header {
    padding: 2.5% 2.5% 0;
    position: relative;
}

.search {
    position: relative;
}

.search .search-field {
    width: 100%;
    font-size: 1.15em;
    padding: 0.5em 1em 0.5em 2.5em;
}

.search .magnify {
    position: absolute;
    left: 0;
    top: 0;
    width: 1em;
    font-size: 1.25em;
    color: #777;
    padding: 0.6em 0 0.6em 0.5em;
}

#content {
    margin: 1em 0 0;
    background-color: #fff;
    border: 1px solid #777777;
    color: #777;
    padding: 1em;
}

.tab-navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background: url(../img/logo-white.png) no-repeat center #333333;
    background-size: auto 80%;
}

p + p {
    margin-top: 1em;
}

#beertastic {
    padding: 0.5em 0 0;
}

#beertastic li {
    list-style-image: url(../img/favicon/favicon-16x16.png);
    list-style-position: inside;
    padding: 0.1em 0;
}

.start h1 {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 20%;
}

.details .headline {
    background-color: #777;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    height: 12em;
    margin: -1em -1em 1em;
}

.details .features {
    border-bottom: 1px solid #777;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.details .features span + span {
    padding-left: 1em;
}

.details .features span i.fa {
    padding-right: 0.25em;
    width: 1em;
}

.details .features p + p {
    margin-top: 0.25rem;
}

.details .food {
    margin-top: 1em;
}

.details .food h2 {
    font-size: 1.5em;
}

header .title {
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

header i.back {
    display: inline;
    left: 1em;
    position: absolute;
    top: 0.75em;
}